{% macro datos(name, placeholder, type='text') %}

 <div class="mb-3">
        <label for="{{name}}" class="form-label">{{name}}</label>
        <input type="{{type}}" class="form-control" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}">
    </div>

{% endmacro %}

{% macro campoNuevo(field) %}
    <td>{{field.label}}</td>
    <dd>{{field(**kwargs) | safe}}</dd>
    {% if field.errors %}

    {% for error in field.errors %}
        <li style="color: red;">{{error}}</li>
    {% endfor %}

    {% endif %}
{% endmacro %}

{% macro input(name, label, type='text') %}
<div class="mb-3">
    <label class="form-label">{{ label }}</label>
    <input type="number" class="form-control" name="{{ name }}" required>
</div>
{% endmacro %}  

{% macro camposCine(name, label, type="text") %}
<div class="mb-3">
    <label for="{{ name }}" class="form-label text-white">{{ label }}</label>
    <input type="{{ type }}" class="form-control" name="{{ name }}" id="{{ name }}" required>
</div>
{% endmacro %}
