{% extends "layout.html" %}

{% block container %}

<script src="https://cdn.tailwindcss.com"></script>

<div class="min-h-screen flex flex-col items-center justify-center bg-gray-50">

    <a href="{{ url_for('alumnos') }}" class="bg-black text-white px-4 py-2 rounded-base">
        Agregar alumno
    </a>

    <div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
        <table class="w-full text-sm text-left rtl:text-right text-body">
            <thead class="text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default">
                <tr>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Nombre
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Apellido
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Correo
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Editar
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Detalles
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Eliminar
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for alumno in alumnos %}
                <tr class="bg-neutral-primary border-b border-default">
                    <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                        {{ alumno.nombre }}
                    </th>

                    <td class="px-6 py-4">
                        {{ alumno.apaterno }}
                    </td>
                    <td class="px-6 py-4">
                        {{ alumno.email }}
                    </td>
                    <td class="px-6 py-4">
                        <a href="modificar?id={{ alumno.id }}" class="bg-brand text-white px-4 py-2 rounded-base">
                            Editar
                        </a>
                    </td>
                    <td class="px-6 py-4">
                        <a href="detalles?id={{ alumno.id }}" class="bg-green-500 text-white px-4 py-2 rounded-base">
                            Detalles
                        </a>
                    </td>
                    <td class="px-6 py-4">
                        <a href="#" class="bg-red-500 text-white px-4 py-2 rounded-base">
                            Eliminar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


{% endblock %}